@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");

:root {
    --color-primary-100: 235, 231, 254;
    --color-primary-200: 221, 214, 254;
    --color-primary-300: 196, 181, 253;
    --color-primary-400: 167, 139, 250;
    --color-primary-500: 139, 92, 246;
    --color-primary-600: 124, 58, 237;
    --color-primary-700: 107, 38, 217;
    --color-primary-800: 91, 33, 182;
    --color-primary-900: 76, 29, 149;

    --color-neutral-100: 243, 244, 246;
    --color-neutral-200: 229, 231, 235;
    --color-neutral-300: 209, 213, 219;
    --color-neutral-400: 156, 163, 175;
    --color-neutral-500: 107, 114, 128;
    --color-neutral-600: 75, 85, 99;
    --color-neutral-700: 55, 65, 81;
    --color-neutral-800: 31, 41, 55;
    --color-neutral-900: 17, 24, 39;
}

body {
    font-family: "Nunito", sans-serif !important;
}

@tailwind base;

.theme-light {
    --color-primaryBg: var(--color-primary-100);
    --color-primaryBgSoft: var(--color-primary-200);
    --color-primaryBgSofter: var(--color-primary-300);
    --color-primarySoft: var(--color-primary-400);
    --color-primary: var(--color-primary-500);
    --color-primaryBold: var(--color-primary-600);
    --color-onPrimaryBgSofter: var(--color-primary-700);
    --color-onPrimaryBgSoft: var(--color-primary-800);
    --color-onPrimaryBg: var(--color-primary-900);

    --color-neutralBg: var(--color-neutral-100);
    --color-neutralBgSoft: var(--color-neutral-200);
    --color-neutralBgSofter: var(--color-neutral-300);
    --color-neutralSoft: var(--color-neutral-400);
    --color-neutral: var(--color-neutral-500);
    --color-neutralBold: var(--color-neutral-600);
    --color-onNeutralBgSofter: var(--color-neutral-700);
    --color-onNeutralBgSoft: var(--color-neutral-800);
    --color-onNeutralBg: var(--color-neutral-900);
}

.theme-dark {
    --color-onPrimaryBg: var(--color-primary-100);
    --color-onPrimaryBgSoft: var(--color-primary-200);
    --color-onPrimaryBgSofter: var(--color-primary-300);
    --color-primaryBold: var(--color-primary-400);
    --color-primary: var(--color-primary-500);
    --color-primarySoft: var(--color-primary-600);
    --color-primaryBgSofter: var(--color-primary-700);
    --color-primaryBgSoft: var(--color-primary-800);
    --color-primaryBg: var(--color-primary-900);

    --color-neutralBg: var(--color-neutral-900);
    --color-neutralBgSoft: var(--color-neutral-800);
    --color-neutralBgSofter: var(--color-neutral-700);
    --color-neutralSoft: var(--color-neutral-600);
    --color-neutral: var(--color-neutral-500);
    --color-neutralBold: var(--color-neutral-400);
    --color-onNeutralBgSofter: var(--color-neutral-300);
    --color-onNeutralBgSoft: var(--color-neutral-200);
    --color-onNeutralBg: var(--color-neutral-100);
}

@tailwind components;
@tailwind utilities;

.app-container {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.app-container.theme-light {
    background-image: url("/big-sur-mountains-clouds-daylight.jpeg");
    /* background-image: url("/apple-wave-light.jpeg"); */
}

.app-container.theme-dark {
    background-image: url("/big-sur-mountains-night-dark.jpeg");
    /* background-image: url("/apple-wave-dark.jpeg"); */
}

.welcome-text {
    font-family: "Cabin Sketch", cursive !important;
}

.theme-light .welcome-text.name {
    @apply text-purple-800;
}

.theme-dark .welcome-text.name {
    @apply text-purple-400;
}

button:disabled {
    @apply filter grayscale cursor-not-allowed;
}

@media (min-width: 640px) {
    .content-container {
        width: calc(100vw - theme("spacing.20"));
    }
}

@media (min-width: 1024px) {
    .content-container {
        width: calc(100vw - theme("spacing.60"));
    }
}
