@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
    background-image: url("/big-sur-mountains-clouds-daylight.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 640px) {
    .content-container {
        width: calc(100vw - theme("spacing.20"));
    }
}
